div.hide {
    display: none;
}

h1.title {
    text-align: center;
}

div {
    text-align: center;
}

div.card {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 5px solid purple;
    margin: 10px;
}

p.hide {
    visibility: hidden;
}